/* ==== STYLE RESET ==== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
	  height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    overflow-y: auto;
}
img,
picture {
    /* width: 100%; */
}

/* ==================== */

main {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Raleway';
}

/* ======== Hero Image Section ======== */
.hero {
    background: url(/images/photo-1585202900225-6d3ac20a6962.avif);
    height: 100vh;
    width: 33%;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-bg{
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 4rem;
    margin-top: 100px;
}
#odin-logo{
    height: 100%;
}
#logo-header{
}
#credit-tag{
font-size: .75rem;
padding: .5rem;
font-weight: 200;
}
#credit-tag a {
    color: white;
    text-decoration: underline;
}

/* ======== Form Section ======== */

